header h1{
    color: darkgoldenrod;
    text-align: center;
    text-decoration: underline;
    border-style: solid;
    padding: 20px;
}
main{
    display: flex;
    gap: 10px;
    padding: 20px;
}
main h2{
    color: darkgoldenrod;
    text-align: left;
    text-decoration: underline;
    display: flex;
}
main .allbear{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
}
main #bears{
    border-style: solid;
}
main .allgiraffe{
    display: flex;
    flex-direction: column;
    margin: 10px 500px 10px 0px;
}
main #giraffes{
    border-style: solid;
}
